{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1.0">

<title>escalated Issues</title>

<link rel="stylesheet"
      href="{% static 'css/escalated_issues.css' %}">

</head>

<body>

<nav class="navbar">

    <div class="logo">

        PUBLIC SUPPORT

    </div>

    <div class="nav-links">

        <a href="{% url 'department' %}">
            Dashboard
        </a>

        <a href="{% url 'logout' %}">
            Logout
        </a>

    </div>

</nav>

<div class="main-area">

<div class="page-top">

    <div class="title-section">

        <h1>
            escalated Complaints
        </h1>

    </div>

    <div class="search-section">

        <form method="GET">

            <input
                type="text"
                name="location"
                placeholder="Search location..."
                value="{{ location|default:'' }}"
            >

            <button type="submit">
                Search
            </button>

        </form>

    </div>

</div>

<section class="dashboard-section">

<div class="section-header">

    <h3>

        escalated Issues

    </h3>

    <span>

        {{ page_obj.paginator.count }} Issues

    </span>

</div>

<div class="task-grid">

{% for issue in page_obj %}

<div class="escalated-card">

    <div class="media-box">

        {% if issue.image %}
            <img src="{{ issue.image.url }}">
        {% else %}
            <div>No Image</div>
        {% endif %}

    </div>

    <h4>

        {{ issue.issue_type }}

    </h4>

    <p>

        <b>Citizen:</b>

        {{ issue.citizen.username }}

    </p>

    <p>

        <b>Location:</b>

        {{ issue.location }}

    </p>

    <p>

        <b>Description:</b>

        {{ issue.description }}

    </p>

    <p class="deadline
        {% if issue.formatted_time_left == 'Expired' %}
            deadline-expired
        {% elif issue.time_left and issue.time_left.days == 0 %}
            deadline-warning
        {% endif %}
    ">

        ⏳ {{ issue.formatted_time_left }}

    </p>

</div>

{% empty %}

<div class="empty-state">

    <h4>

        No escalated Complaints

    </h4>

    <p>

        Everything is under control.

    </p>

</div>

{% endfor %}

</div>

</section>

<!-- Pagination -->

<div class="pagination">

{% if page_obj.has_previous %}

<a href="?page=1">

    First

</a>

<a href="?page={{ page_obj.previous_page_number }}">

    Previous

</a>

{% endif %}

<span>

    Page {{ page_obj.number }}
    of
    {{ page_obj.paginator.num_pages }}

</span>

{% if page_obj.has_next %}

<a href="?page={{ page_obj.next_page_number }}">

    Next

</a>

<a href="?page={{ page_obj.paginator.num_pages }}">

    Last

</a>

{% endif %}
 
</div>

</div>

</body>
</html>