{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Worker Portal – CivicFlow</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/worker_portal.css' %}">
</head>

<body>

<div class="sidebar">

<div class="worker-profile">
<div class="avatar">
{{ request.user.username|first|upper }}
</div>

<h4>{{ request.user.username }}</h4>
<p>Field Worker</p>
</div>

<nav>
<a href="#" class="active">Assigned Tasks</a>
<a href="{% url 'notification' %}" class="notif-btn">
        🔔 Notifications

        {% if unread_count > 0 %}
        <span class="badge">{{ unread_count }}</span>
        {% endif %}
</a>
<a href="{% url 'logout' %}">Logout</a>
</nav>

</div>


<div class="main-area">

<h1>My Assigned Issues</h1>

<div class="task-grid">

{% for issue in issues %}

<div class="task-item">

<div class="task-header">

<div>
<span class="priority-tag">{{ issue.get_issue_type_display }}</span>
<h2>{{ issue.location }}</h2>
</div>

<b>{{ issue.status }}</b>

</div>


<div class="task-info-box">

<p><b>📍 Location:</b> {{ issue.location }}</p>

<p><b>⚠️ Issue:</b> {{ issue.description }}</p>

</div>


{% if issue.image %}
<div class="issue-image">
<img src="{{ issue.image.url }}" style="width:100%;border-radius:10px;">
</div>
{% endif %}


<form method="POST">

{% csrf_token %}

<input type="hidden" name="issue_id" value="{{ issue.id }}">

<div class="controls">

<select name="status">

<option value="pending" {% if issue.status == "pending" %}selected{% endif %}>Pending</option>

<option value="in_progress" {% if issue.status == "in_progress" %}selected{% endif %}>In Progress</option>

<option value="resolved" {% if issue.status == "resolved" %}selected{% endif %}>Resolved</option>

</select>

<button class="update-btn">Update</button>

</div>

</form>

</div>

{% empty %}

<p>No issues assigned.</p>

{% endfor %}

</div>

</div>

</body>
</html>